<div>
  <h2>Animais</h2>
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Tipo</th>
        <th>Idade</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let animal of animals">
        <td routerLink="/list/{{ animal.id }}">
          {{ animal.name }}
        </td>
        <td>{{ animal.type }}</td>
        <td>{{ animal.age }}</td>
        <td>
          <!-- <button (click)="showAge(animal)">Show age</button> -->
          <button (click)="removeAnimal(animal)">Remover animal</button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- <ul>
    <li *ngFor="let animal of animals">
      Nome: <a routerLink="/link/{{ animal.id }}">{{ animal.name }}</a> - Tipo:
      {{ animal.type }}
      <button (click)="showAge(animal)">Show age</button>
      <button (click)="removeAnimal(animal)">Remover animal</button>
    </li>
  </ul>
  <h3>{{ animalDetails }}</h3> -->
</div>
